modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "OTP Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21638 BASE_PATH=/ pnpm --filter @workspace/qorix-markets run dev"
waitForPort = 21638

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "OTP Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd otp-server && npm start"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 8008

[[ports]]
localPort = 6379
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 6000

[[ports]]
localPort = 21638
externalPort = 3000

[[ports]]
localPort = 21639
externalPort = 3002

[[ports]]
localPort = 21640
externalPort = 3003

[[ports]]
localPort = 21641
externalPort = 5000

[[ports]]
localPort = 21642
externalPort = 5173

[[ports]]
localPort = 21643
externalPort = 4200

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "6251a374cc059b50296fe02a33f735e90bb26a4c7eb43943a3dfdf70ed6c314b12eab8402927f7f4a4026e9c55643f896f86a662646dbf09dbc3e6fb91132411"
PLATFORM_TRON_ADDRESS = "TU8TXrttDwGdHqkpqkobxdTTTJrrpBXGN1"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "no-reply@qorixmarkets.com"
